name: Lint

on:
  pull_request:
  push:
    branches:
      - '**'
    tags-ignore:
      - 'v*'

jobs:
  rubocop:
    # Skip running tests for local pull requests (use push event instead), run only for foreign ones
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.owner.login != github.event.pull_request.base.repo.owner.login
    name: Standard.rb
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install SQLite
        run: sudo apt-get install libsqlite3-dev
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.1"
          bundler-cache: true
      - name: Lint Ruby code with Standard.rb
        run: |
          bundle exec rake standard
